.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

.icons {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: baseline;
    width: 12px;
    height: 12px;
    background: url(../imgs/icons.png) 0 0 no-repeat;
}

.icons-phone {
    background-position: 0 0;
}

.icons-email {
    background-position: -22px 0;
}

.progress {
    display: none;
}

.card,
.help {
    font-family: '\5fae\8f6f\96c5\9ed1', "Microsoft YaHei", Tahoma, san-serif;
}

.card {
    position: relative;
    margin: 15px auto;
    width: 520px;
    height: 180px;
}

.card .text-box {
    position: absolute;
    left: 0;
    top: 10px;
    width: 520px;
    height: 170px;
    border: 2px solid #c1c1c1;
    background-color: #fff;
}

.card .text-box .text-main {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 190px;
}

.card .text-box .username {
    float: left;
}

.card .text-box .username .usernick {
    font-size: 16px;
    color: #c10915;
}

.card .text-box .username .workid,
.card .text-box .userbu {
    color: #999;
}

.card .text-box .contact {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #999;
    font-size: 12px;
}

.card .text-box .text-main .line2 {
    margin: 0;
}

.card .text-box .userbu {
    float: right;
}

.card .text-box .address {
    margin-top: 5px;
    margin-bottom: 0;
    color: #999;
}

.card .head-area {
    position: absolute;
    left: 13px;
    top: 0;
    width: 158px;
    height: 180px;
    background: url(../imgs/hd_bg.png) 0 0 no-repeat;
}

.card .head-area .head-pic {
    position: absolute;
    left: 5px;
    top: 35px;
    width: 140px;
    height: 140px;
    background-position: center center;
    background-repeat: no-repeat;
}

.card .head-area .fileinput-button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 140px;
    height: 140px;
    font-size: 12px;
    background-color: transparent;
    border: 0;
}

.card .head-area .fileinput-button:hover {
    background-color: transparent;
    border: 0;
}

.card .head-area .user-info {
    position: absolute;
    left: 58px;
    top: 6px;
}

.short-text,
.long-text {
    height: 24px;
}

.short-text {
    width: 48px;
    font-size: 12px;
}

.mini-text {
    width: 40px;
    font-size: 12px;
}

.long-text {
    width: 110px;
}

.big-text {
    width: 150px;
}

.other-action {
    text-align: center;
}

.other-action .btn {
    outline: none;
}

.result {
    padding-top: 10px;
    text-align: center;
}

/* Help */
.help {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 5px;
    width: 54px;
    height: 52px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
    -webkit-transition: width 0.2s ease-out, height 0.2s ease-out;
    -moz-transition: width 0.2s ease-out, height 0.2s ease-out;
    -o-transition: width 0.2s ease-out, height 0.2s ease-out;
    -ms-transition: width 0.2s ease-out, height 0.2s ease-out;
    transition: width 0.2s ease-out, height 0.2s ease-out;
    background-color: #fff;
}

.help:hover {
    width: 530px;
    height: auto;
}

.help .help-title,
.help .help-content {
    width: 520px;
    visibility: hidden;
}

.help:hover .help-title,
.help:hover .help-content {
    visibility: visible;
}

.help .help-title {
    margin-top: 5px;
}

.help .help-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 32px;
    color: #f00;
    cursor: pointer;
}

.help:hover .help-icon {
    display: none;
}
